<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/stylesAnadir.css">
    <link rel="shortcut icon" href="Img/FaviconR.png" type="image/x-icon">
</head>
<body>

    <header>
        <div class="container">
            <nav>
                <button class="burger-menu" id="burger-menu">
                    <img src="Img/Menu.svg" alt="" class="m">
                </button>
                <div class="usuario">
                    <a href=""><img src="Img/foto.svg" alt="" class="u"></a>
                    <a class="par" href="#">Usuario</a>
                    <a href=""><img src="Img/arrow.svg" alt="" ></a>
                </div>
                
                <div class="cart">
                    <a href="#"><img src="Img/cart_1.svg" alt="" class="c"></a>
                    <p>0</p>
                </div>
                <a href="#"><img src="Img/LogoR.svg" alt="" class="l"></a>
                <div class="buscar">
                    <label for="se"></label>
                    <input class="in" type="text" placeholder="Search..." id="se">
                    <a href="#"><img src="Img/Search.svg" alt="" class="s"></a>
                </div>
                
                <div class="location">
                    <a href="#" class="ok">Ingresa tu ubicación</a>
                    <a href="#"><img src="Img/Location.svg" alt="" class="lo"></a>
                </div>
                
            </nav>
        </div>
    </header>


    <main>



        
        <section class="firts">
           <div class="exterior">   
                <form action="">
                    <div class="okok">

                    
                    <div class="content">
                        <div class="box">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" value="" required="" class="inp">
                        </div>
                        <div class="box">
                            <label for="precio">Precio:</label>
                            <input type="text" id="precio" value="" required class="inp">   
                        </div>
                        <div class="box">
                            <label for="comentario">Comentario:</label>
                            <input type="text" id="comentario" value="" class="inp">
                        </div>
                        <div class="box">
                            <label for="codigo">Codigo:</label>
                            <input type="text" id="codigo" value="" required class="inp">
                        </div>
  
                    </div>
                    
                    
                    <div class="botones">
                        <div class="btn"><label for=""></label></div>
                        <div class="btn"><label for=""></label><input type="submit" value="Añadir" class=""></div>
                        <div class="btn"><label for=""></label><input type="submit" value="Eliminar" class=""></div>
                        <div class="btn"><label for=""></label><input type="submit" value="Buscar" class=""></div>
                        
                    </div>
                </div>
                </form>
            </div>

            <section class="second">
                <div class="imagen">
                    <img src="Img/tenis.jpg" alt="">
                    <div>
                        <h1>Tenis Nike Rojo</h1>
                        <h4>Ultima colección</h4>
                    </div>
                    <div class="mod">
                        <div>
                            <div><label for=""></label><input type="submit" value="Editar" class=""></div>
                        </div>
                    </div>
                    
                </div>
                
            </section>
            
        </section>
        

        
    </main>
    
</body>
</html>