<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Deseos</title>
    <link rel="stylesheet" type="text/css" href="static/css/Semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="shortcut icon" href="static/images/imag/img/FaviconR.png" type="image/x-icon">
</head>
<body>

    <header>
        <div class="container">
            <nav>
                <a href="/comentario"><img src="static/images/imag/img/Menu.svg" alt="" class="m"></a>
                <div class="usuario">
                    <a href="/comentario"><img src="static/images/imag/img/foto.svg" alt="" class="u"></a>
                    <a class="par" href="#">Usuario</a>
                    <a href=""><img src="static/images/imag/img/arrow.svg" alt="" ></a>
                </div>
                
                <div class="cart">
                    <a href="/dasboard"><img src="static/images/imag/img/cart_1.svg" alt="" class="c"></a>
                    <p>0</p>
                </div>
                <a href="#"><img src="static/images/imag/img/LogoR.svg" alt="" class="l"></a>
                <div class="buscar">
                    <label for="se"></label>
                    <input class="in" type="text" placeholder="Search..." id="se">
                    <a href="#"><img src="static/images/imag/img/Search.svg" alt="" class="s"></a>
                </div>
                
                <div class="location">
                    <a href="#" class="ok">Ingresa tu ubicación</a>
                    <a href="#"><img src="static/images/imag/img/Location.svg" alt="" class="lo"></a>
                </div>
                
            </nav>
        </div>
    </header>
    
   
    
    
    <div class= "rectangulo">
        <div class= "titulo">
            lista de deseos
            
        
        </div> 
        <h2 class="ui center aligned header">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Nombre del Producto &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            Estado del Inventario&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
             Direccion de envio&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</h2> 

        <br><br><br>

        <div class="ui massive aligned divided list">
            <div class="item">
              <div class="right floated content">
                <img  class="ui button" src="static/images/imag/carrito.jpeg" style="width: 30%;">
              </div>
              <div class="right floated content">
                <p>sin definir&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; </p>
                
              </div>
              <div class="right floated content">
                <p>Existente&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</p>
                
              </div>
              <img class="ui small image" src="static/images/imag/saco.jpeg">
              <div class="content">
                ROPA
              </div>
            </div>



            <div class="item">
              <div class="right floated content">
                
                <img  class="ui button" src="static/images/imag/carrito.jpeg" style="width: 30%;">
              </div>
              <div class="right floated content">
                <p>sin definir&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; </p>
                
              </div>
              <div class="right floated content">
                <p>Existente&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</p>
                
              </div>
             
              <img class="ui small image" src="static/images/imag/balon.jpeg">
              <div class="content">
                BALONES 
              </div>
            </div>





            <div class="item">
              <div class="right floated content">
                <img  class="ui button" src="static/images/imag/carrito.jpeg" style="width: 30%;">
                
              </div>
              <div class="right floated content">
                <p>sin definir&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; </p>
                
              </div>
              <div class="right floated content">
                <p>Existente&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</p>
                
              </div>
              <img class="ui small image" src="static/images/imag/calzado.jpeg">
              <div class="content">
                ZAPATOS
              </div>
            </div>
            <div class="item">
              <div class="right floated content">
                <img  class="ui button" src="static/images/imag/carrito.jpeg" style="width: 30%;">
              </div>
              <div class="right floated content">
                <p>sin definir&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; </p>
                
              </div>
              <div class="right floated content">
                <p>Existente&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</p>
                
              </div>
              <img class="ui small image" src="static/images/imag/pc.jpeg">
              <div class="content">
                ELECTRODOMESTICOS
              </div>
            </div>
          </div>



    </div>  
     
    
  










































<div class="footer">
    <img class="ui small image" src="static/images/imag/social.jpeg">
    <div class="footer2">

        <div class="footer3">
            <div class="conte_foter">
<h3>Terminos y condiciones</h3>
<p>El cliente entiende y acepta que antes de realizar una compra a través de E@BUY ha leído y está de acuerdo con los términos y condiciones descritos en este DOCUMENTO.</p>

            </div>
            <div class="conte_foter">
                <h3>Sobre Nosotros</h3>
                <p>Sobre E@BUY Acerca de los fundadores</p>
                

            </div>
            <div class="conte_foter">
                <h3>Cuidades de Envio</h3>
<p>Toda Colombia Otras Ciudades +</p>

            </div>
        </div>
    </div>

</div>
   
  

       

    
</body>
</html>