<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/stylesProducto.css">
    <link rel="shortcut icon" href="Img/FaviconR.png" type="image/x-icon">
   
    <script src="js/product.js" defer></script>
    <script src="js/direccion.js" defer></script>
    <script src="js/perfil.js" defer></script>
    <script src="js/lightbox.js" defer></script>
</head>
<body class="body">

    

    <section class="galeria">     
        <div class="direccion">
            <div class="colores">

            </div>
           <div class="sera">
            <img src="Img/Location.svg" alt="" class="img-galeria">

         
                 <p class="recibir">¿Donde recibirás tu compra?</p>
             
 
                 <form>
                            <label for="direccion" >Dirección:</label>
                            <div class="fA">                   
                                <div class="num">
                                    <div class="num1">            
                                        <div>
                                            <img src="Img/IconosNav/awesome-check-circle.svg" alt="">
                                        </div>
                                        <div class="columna">
                                            <input class="nothing" type="text" id="direccion" value="" placeholder="Dirección...">
                                            <input class="nothing" type="text" value="" placeholder="Barrio - Ciudad">
                                        </div>
                                    </div>
                                    <div>
                                        <input class="nothing" type="text" value="" placeholder="Nombre">
                                    </div>
                                </div>           
                                <a role="button" href="#" class="edit" target="_parent"><span class="">Editar dirección</span></a>
                            </div>
                            <p>¿Otra ubicación?</p>
                            <div class="fA">                   
                                <div class="">         
                                        
                                        <div class="num">
                                            <input class="down" type="radio" class="andes-radio__input" id="address_1168668606" name="address_id" value="1168668606"/>
                                            <div class="columna">
                                                <label for="depa">Departamento:</label>
                                                <input class="down" type="text" id="depa" value="">
                                            </div>
                                            <div class="columna">
                                                <label for="city">Ciudad:</label>
                                                <input class="down" type="text" id="city" value="">
                                            </div>
                                        </div>
                                </div>           
                                <a role="button" href="#" class="edit" target="_parent"><span class="">Agregar</span></a>
                            </div> 
                            <div  class="guardar">
                                <button type="submit">Guardar cambios</button> 
                            </div>
                        
                 </form>
            </div>
           
        </div>  





        <section class="imagen-light">
            <img src="Img/Close.svg" alt="" class="close">
            <img src="" alt="" class="agregar-imagen">         
        </section>
    </section>






    <div class="fondo21">
        <div class="fondo31">
            <div class="yes">
                <div class="yes2">
                    <a href=""><img src="Img/foto.svg" alt="" class="u"></a>
                    <p>Nombre</p>
                    <P>Correo Electronico</P>
                </div>
                <div class="claro">
                    <div>
                        <a href=""><img src="Img/IconosNav/metro-profile.svg" alt="">Perfil</a>
                        <a href=""><img src="Img/IconosNav/awesome-edit.svg" alt="">Editar Perfil</a>
                        <a href=""><img src="Img/IconosNav/awesome-database.svg" alt="">Politica de Privacidad</a>
                    </div>
                    <div>
                        <a href=""><img src="Img/IconosNav/material-add-alert.svg" alt="">Mis alertas</a>
                        <a href=""><img src="Img/IconosNav/ionic-md-help-circle.svg" alt="">Ayuda</a>
                        <a href=""><img src="Img/IconosNav/metro-location.svg" alt="" class="img1">Agregar ubicación</a>
                    </div>
                </div>
                <div class="listadeseos">
                    <a href=""><img src="Img/IconosNav/ionic-md-star.svg" alt="">Lista de deseos</a>
                </div>
                <div class="salirahora">
                    <a href=""><img src="Img/IconosNav/awesome-sign-out-alt.svg" alt="">Salir</a>
                </div>
            </div>
            <section class="imagen-light">
                <img src="Img/Close.svg" alt="" class="closek">
                <img src="" alt="" class="agregar-imagen">         
            </section>
        </div>

    </div>
























    <header>
        <div class="container">
            <nav>
                <!-- <button class="burger-menu" id="burger-menu">
                    <img src="Img/Menu.svg" alt="" class="m">                       
                </button> -->
                <img src="Img/Menu.svg" alt="" class="m">   

                <nav class="menu-navegacion">
                    <img class="superior" src="Img/IconosNav/contornoatrazado.svg" alt="">
                    <img class="abs" src="Img/IconosNav/Logo.svg" alt="">
                                <section class="contenedorA">
                                    
                                    <section class="ladoA">
                                        <h2>Categorias</h2>
                                        <hr/>
                                        <a href="#Televisores"><img src="Img/IconosNav/awesome-tv.svg" alt="">Televisores</a>
                                        <a href="#Celulares"><img src="Img/IconosNav/ionic-ios-phone-portrait.svg" alt="">Celulares</a>
                                        <a href="#Bolsos"><img src="Img/IconosNav/awesome-shopping-bag.svg" alt="">Bolsos</a>
                                        <a href="#Tecnologia"><img src="Img/IconosNav/material-laptop-mac.svg" alt="">Tecnologia</a>
                                        <a href="#Camaras"><img src="Img/IconosNav/ionic-ios-camera.svg" alt="">Camaras</a>
                                        <a href="#Cosasdelhogar"><img src="Img/IconosNav/ionic-md-home.svg" alt="">Cosas del hogar</a>
                                        <a href="#RelojesyJoyas"><img src="Img/IconosNav/ionic-md-watch.svg" alt="">Relojes y Joyas</a>
                                        <a href="#Mascotas"><img src="Img/IconosNav/awesome-dog.svg" alt="">Mascotas</a>
                                        <a href="#Juegos"><img src="Img/IconosNav/ionic-logo-game-controller-b.svg" alt="">Juegos</a>
                                        <a href="#Deporte"><img src="Img/IconosNav/awesome-volleyball-ball.svg" alt="">Deporte</a>
                                        <a href="#Musica"><img src="Img/IconosNav/awesome-music.svg" alt="">Musica</a>
                                        <a href="#Salud"><img src="Img/IconosNav/awesome-heartbeat.svg" alt="">Salud</a>
                                        <a href="#Motos"><img src="Img/IconosNav/awesome-motorcycle.svg" alt="">Motos</a>
                                        <a href="#Carros"><img src="Img/IconosNav/awesome-car.svg" alt="">Carros</a>
                                        <a href="#Herramientas"><img src="Img/IconosNav/awesome-tools.svg" alt="">Herramientas</a>
                                        <a href="#Zapatos"><img src="Img/IconosNav/awesome-shoe-prints.svg" alt="">Zapatos</a>
                                        <a href="#MaquillajeyBelleza"><img src="Img/IconosNav/map-beauty-salon.svg" alt="">Maquillajje y Belleza</a>
                                        <a href="#Ropa"><img src="Img/IconosNav/ionic-ios-shirt.svg" alt="">Ropa</a>
                                        
                                    </section>
                                    <section class="ladoB">
                                        <h2 class="others">Otros</h2>
                                        <hr/>
                                        
                                        <a href="#SobreNosotros"><img src="Img/IconosNav/ionic-ios-people.svg" alt="">Sobre Nosotros</a>
                                        <a href="#Contactenos"><img src="Img/IconosNav/material-contacts.svg" alt="">Contactenos</a>
                                        <a href="#Ofertas"><img src="Img/IconosNav/material-local-offer.svg" alt="">Ofertas</a>
                                        <a href="#NuestrasTiendas"><img src="Img/IconosNav/metro-location.svg" alt="">NuestrasTiendas</a>
                                    </section>
                                </section>
                                
                                <section class="contenedorB">
                                    <section class="country">
                                       <div class="lineas">
                                            <a href="#pais"><img src="Img/IconosNav/colombia.svg" alt="">Colombia</a>
                                       </div>
                                        
                                       
                                        <a href="#help"><img src="Img/IconosNav/ionic-md-help-circle.svg" alt="">Ayuda</a>
                                        <a href="#lenguages"><img src="Img/IconosNav/metro-earth2.svg" alt="">Español</a>
                                    </section>
                                    <section class="deseos">
                                       <div class="lineas">
                                        <a href="#Lista"><img src="Img/IconosNav/ionic-md-star.svg" alt="">Lista de deseos</a>
                                        </div>
                                    </section>
                                </section>                      

                </nav>

















                <div class="usuario">
                    <a href=""><img src="Img/foto.svg" alt="" class="u"></a>
                    <a class="par" href="#">Usuario</a>
                    <a href=""><img src="Img/arrow.svg" alt="" ></a>

                </div>
                
                <div class="cart">
                    <a href="#"><img src="Img/cart_1.svg" alt="" class="c"></a>
                    <p>0</p>
                </div>
                <a href="#"><img src="Img/LogoR.svg" alt="" class="l"></a>
                <div class="buscar">
                    <label for="se"></label>
                    <input class="in" type="text" placeholder="Search..." id="se">
                    <a href="#"><img src="Img/Search.svg" alt="" class="s"></a>
                </div>
                
                <div class="location">
                    <a href="#" class="ok">Ingresa tu ubicación</a>
                    <a href="#"><img src="Img/Location.svg" alt="" class="lo"></a>
                </div>
                
            </nav>
        </div>
    </header>






































    <main class="main">


        <section class="contenedorPrincipal">

        
        <section class="seccion">
            <section class="gal">

                <div class="galbuyP">
                    <div class="galbuy">
                        <div class="buygal">
                            <button class="alineargal"><img src="Img/compra/rest.svg" alt=""></button>
                            <p>1</p>                           
                            <button class="alineargal"><img src="Img/compra/sum.svg" alt=""></button>                     
                        </div>
                        <div>
                            <p >$25.000</p>
                        </div>
                        
                        <div>
                            <button class="alineargal"><img src="Img/compra/c.svg" alt=""></button>
                        </div>
                    </div>
                </div>
            </section>


            <section class="product">

                <div class="box hh1">

                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="box hh2">

                    <div class="compra">
                        <div class="buy">
                            <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                            <p>1</p>                           
                            <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                        </div>
                        <p>$25.000</p>
                        <div>
                            <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                        </div>
                    </div>
                    
                </div>



                <div class="box hh3">

                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="box hh4">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="box hh5">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>  



                <div class="box hh6">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>


            </section>  
        </section>

        

        <section class="seccion2">

            <section class="product2">

                <div class="box hhh1">

                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="box hhh2">

                    <div class="compra">
                        <div class="buy">
                            <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                            <p>1</p>                           
                            <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                        </div>
                        <p>$25.000</p>
                        <div>
                            <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                        </div>
                    </div>
                    
                </div>



                <div class="box hhh3">

                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="box hhh4">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="box hhh5">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>  



                <div class="box hhh6">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box hhh7">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box hhh8">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box hhh9">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box hhh10">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box hhh11">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box hhh12">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box hhh13">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box hhh14">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box hhh15">
                    <div class="compra">
                        <div class="compra">
                            <div class="buy">
                                <button class="alinear"><img src="Img/compra/rest.svg" alt=""></button>
                                <p>1</p>                           
                                <button class="alinear"><img src="Img/compra/sum.svg" alt=""></button>                     
                            </div>
                            <p>$25.000</p>
                            <div>
                                <button class="alinear"><img src="Img/compra/c.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>

                

            </section>  
            
        </section>



         <section class="mascara">

           <div class="masc">
                <h2>Ofertas Semanales</h2>
                <div>
                        <section class="CarouselPrincipal"> 
        <div class="Carousel">
<!--             <h2>Ofertas Semanles</h2> -->
            <div class="slick-list" id="slick-list">
                <!-- <button class="slick-arrow slick-prev" id="button-prev" data-button="button-prev" onclick="app.processingButton(event)">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg>
                </button> -->
                <button class="slick-arrow slick-prev" id="button-prev" data-button="button-prev" onclick="app.processingButton(event)">
                    <img class="flecha" src="Img/left.svg" alt="">
                </button>
                <div class="slick-track" id="track">
                    <div class="slick">
                        <div>
                            <a href="/">
                                <div class="pporcentaje">
                                    <div class="porcentaje">
                                        <p>25%</p>
                                    </div>
                                </div>
                                
                                <picture>
                                    <img src="./Img/OfertasSemanles/moto.jpg" alt="Image">
                                </picture>
                            </a>


                            <div class="compraoferta">
                                <div class="compraoferta">
                                    <div class="buyoferta">
                                        <button class="alinearoferta"><img src="Img/compra/rest.svg" alt=""></button>
                                        <p class="negro">1</p>                           
                                        <button class="alinearoferta"><img src="Img/compra/sum.svg" alt=""></button>                     
                                    </div>
                                    <div>
                                        <p class="parrafopequeno">10.000</p>
                                        <p>$25.000</p>
                                    </div>
                                    
                                    <div>
                                        <button class="alinearoferta"><img src="Img/compra/c.svg" alt=""></button>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>







                    <div class="slick">
                        <div>
                            <a href="/">
                                <div class="pporcentaje">
                                    <div class="porcentaje blur">
                                        <p>25%</p>
                                    </div>
                                </div>
                                <picture>
                                    <img src="./Img/OfertasSemanles/taylor.jpg" alt="Image">
                                </picture>
                            </a>



                            <div class="compraoferta">
                                <div class="compraoferta">
                                    <div class="buyoferta">
                                        <button class="alinearoferta"><img src="Img/compra/rest.svg" alt=""></button>
                                       <p class="negro">1</p>                             
                                        <button class="alinearoferta"><img src="Img/compra/sum.svg" alt=""></button>                     
                                    </div>
                                    <div>
                                        <p class="parrafopequeno">10.000</p>
                                        <p>$25.000</p>
                                    </div>
                                    <div>
                                        <button class="alinearoferta"><img src="Img/compra/c.svg" alt=""></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                    <div class="slick">
                        <div>
                            <a href="/">
                                <div class="pporcentaje">
                                    <div class="porcentaje">
                                        <p>25%</p>
                                    </div>
                                </div>
                                <picture>
                                    <img src="./Img/OfertasSemanles/auriculares.jpg" alt="Image">
                                </picture>
                            </a>

                            <div class="compraoferta">
                                <div class="compraoferta">
                                    <div class="buyoferta">
                                        <button class="alinearoferta"><img src="Img/compra/rest.svg" alt=""></button>
                                       <p class="negro">1</p>                             
                                        <button class="alinearoferta"><img src="Img/compra/sum.svg" alt=""></button>                     
                                    </div>
                                    <div>
                                        <p class="parrafopequeno">10.000</p>
                                        <p>$25.000</p>
                                    </div>
                                    <div>
                                        <button class="alinearoferta"><img src="Img/compra/c.svg" alt=""></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick">
                        <div>
                            <a href="/">
                                <div class="pporcentaje">
                                    <div class="porcentaje blur ">
                                        <p class="labial">25%</p>
                                    </div>
                                </div>
                                <picture>
                                    <img src="./Img/OfertasSemanles/labial.jpg" alt="Image">
                                </picture>
                            </a>

                            <div class="compraoferta">
                                <div class="compraoferta">
                                    <div class="buyoferta">
                                        <button class="alinearoferta"><img src="Img/compra/rest.svg" alt=""></button>
                                       <p class="negro">1</p>                             
                                        <button class="alinearoferta"><img src="Img/compra/sum.svg" alt=""></button>                     
                                    </div>
                                    <div>
                                        <p class="parrafopequeno">10.000</p>
                                        <p>$25.000</p>
                                    </div>
                                    <div>
                                        <button class="alinearoferta"><img src="Img/compra/c.svg" alt=""></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick">
                        <div>
                            <a href="/">
                                <div class="pporcentaje">
                                    <div class="porcentaje blur">
                                        <p>25%</p>
                                    </div>
                                </div>
                                <picture>
                                    <img src="./Img/OfertasSemanles/cpugamer.jpg" alt="Image">
                                </picture>
                            </a>

                            <div class="compraoferta">
                                <div class="compraoferta">
                                    <div class="buyoferta">
                                        <button class="alinearoferta"><img src="Img/compra/rest.svg" alt=""></button>
                                       <p class="negro">1</p>                             
                                        <button class="alinearoferta"><img src="Img/compra/sum.svg" alt=""></button>                     
                                    </div>
                                    <div>
                                        <p class="parrafopequeno">10.000</p>
                                        <p>$25.000</p>
                                    </div>
                                    <div>
                                        <button class="alinearoferta"><img src="Img/compra/c.svg" alt=""></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick">
                        <div>
                            <a href="/">
                                <div class="pporcentaje">
                                    <div class="porcentaje">
                                        <p>25%</p>
                                    </div>
                                </div>
                                <picture>
                                    <img src="./Img/OfertasSemanles/kadariu.jpg" alt="Image">
                                </picture>
                            </a>

                            <div class="compraoferta">
                                <div class="compraoferta">
                                    <div class="buyoferta">
                                        <button class="alinearoferta"><img src="Img/compra/rest.svg" alt=""></button>
                                       <p class="negro">1</p>                             
                                        <button class="alinearoferta"><img src="Img/compra/sum.svg" alt=""></button>                     
                                    </div>
                                    <div>
                                        <p class="parrafopequeno">10.000</p>
                                        <p>$25.000</p>
                                    </div>
                                    <div>
                                        <button class="alinearoferta"><img src="Img/compra/c.svg" alt=""></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick">
                        <div>
                            <a href="/">
                                <div class="pporcentaje">
                                    <div class="porcentaje">
                                        <p>25%</p>
                                    </div>
                                </div>
                                <picture>
                                    <img src="./Img/OfertasSemanles/pro.jpg" alt="Image">
                                </picture>
                            </a>

                            <div class="compraoferta">
                                <div class="compraoferta">
                                    <div class="buyoferta">
                                        <button class="alinearoferta"><img src="Img/compra/rest.svg" alt=""></button>
                                       <p class="negro">1</p>                             
                                        <button class="alinearoferta"><img src="Img/compra/sum.svg" alt=""></button>                     
                                    </div>
                                    <div>
                                        <p class="parrafopequeno">10.000</p>
                                        <p>$25.000</p>
                                    </div>
                                    <div>
                                        <button class="alinearoferta"><img src="Img/compra/c.svg" alt=""></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick">
                        <div>
                            <a href="/">
                                <div class="pporcentaje">
                                    <div class="porcentaje blur">
                                        <p>25%</p>
                                    </div>
                                </div>
                                <picture>
                                    <img src="./Img/OfertasSemanles/chouette.jpg" alt="Image">
                                </picture>
                            </a>

                            <div class="compraoferta">
                                <div class="compraoferta">
                                    <div class="buyoferta">
                                        <button class="alinearoferta"><img src="Img/compra/rest.svg" alt=""></button>
                                       <p class="negro">1</p>                             
                                        <button class="alinearoferta"><img src="Img/compra/sum.svg" alt=""></button>                     
                                    </div>
                                    <div>
                                        <p class="parrafopequeno">10.000</p>
                                        <p>$25.000</p>
                                    </div>
                                    <div>
                                        <button class="alinearoferta"><img src="Img/compra/c.svg" alt=""></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                
            </div>
            <button class="slick-arrow slick-next" id="button-next" data-button="button-next" onclick="app.processingButton(event)">
                <!-- <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg> -->
                <img class="flecha" src="Img/right.svg" alt="">
            </button>
            
        </div>
    </section>
                </div>

      

            </div>
          
        </section>


       
        
      
        <section class="redes">
            <div>
                <img src="Img/youtube.svg" alt="">
            </div>
            <div>
                <img src="Img/facebook.svg" alt="">
            </div>
            <div>
                <img src="Img/instagram.svg" alt="">
            </div>
            <div>
                <img src="Img/twitter.svg" alt="">
            </div>
        </section>


        </section>  


    </main>

    <footer>    
        <div class="foot">
            <div class="primero">
                <h1>Terminos y condiciones</h1>
                <p>El cliente entiende y acepta que
                    antes de realizar una compra a
                    través de E@BUY ha leído y está
                    de acuerdo con los términos y
                    condiciones descritos en este
                    <u>DOCUMENTO</u>.</p>
            </div>
            <div class="base" >
                <h1>Sobre Nosotros</h1>
                <p>Sobre E@BUY Acerca de los fundadores</p>
                <a href="Mapa.html">Mapa del sitio</a>
            </div>
        </div>
        <div class="marca">
            <h1>E@BUY</h1>
        </div>
            <div class="foot">
                <div class="base">
                    <h1>Ciudades de envios</h1>
                    <p>Toda Colombia</p>
                    <p>Otras Ciudades +</p>
                </div>
                <div class="primero">
                    <h1>Servicio al cliente</h1>
                    <p>Centro de ayuda
                        Contáctenos
                        Reportar abuso
                        Presentar una disputa
                        Políticas y reglas
                        Reciba un pago por sus
                        comentarios</p>
    
                </div>
            </div>
            
        
    </footer>
   
</body>
</html>