<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <title>Verificacion</title>
    <link rel="stylesheet" href="css/styleVerificacion.css">
    <link rel="shortcut icon" href="Img/Favicon.png" type="image/x-icon">
</head>
<body>
    <section class="sec" name="" id="">
        <img class="left" src="Img/tres.jpg" alt="">
        <section class="sec2">
            <div class="centrando">
                <img class="logo" src="Img/Logo.png"  alt="">
            </div>
       
        <div class="exterior">
            <div class="interior">
                <div class="hijo">              
                <div class="write">
                    <p class="hi">Escribe la dirección de correo electrónico o el número de teléfono móvil asociado a tu cuenta de E@BUY</p>
                </div>
                <div class="formulario">
                    <form action="">                    
                        <div class="par">
                            
                            <label for="em"><p>Correo electrónico/Móvil:</p></label>
                            <input class="t" id="_em" type="text" inputmode="email" autocapitalize="none" autocorrect="off" autocomplete="email" required="" placeholder="Correo electrónico o móvil" name="email" aria-required="true" value="">
                        </div>
                        <div class="centro">
                            <button class="iniciar" type="submit" ><span>Continuar</span></button>
                        </div>
                        
                    
                    </form>
                </div>
               
            </div>
        </div>
        </div>
        <div class="btn">
            <div>
                <button class="b1" type="submit" ><a href="#"><span>Verificando Cuenta de Usuario</span></a></button>
            </div>
        </div>
        </section>
    </section>




</body>
</html>